.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 0 20px 140px;
  max-width: 1300px;
  margin: 0 auto;

  &-content {
    width: 100%;
    max-width: 600px;
  }

  &-heading {
    margin: 10px 0 15px;
  }

  &-title{
      margin-bottom: 30px;
  }

  &-descs {
    &--row{
        padding-bottom: 10px;
        i{
            color: var(--check-color);
            padding-right: 5px;
        }
    }
  }
}

@media screen and (max-width: 767.98px) {
    .features {
      &-image{
        display: none;
      }
    }
}

