:root {
    --primary-font: 'Rubik', sans-serif;
    --primary-text-color: #f53855;
    --second-bg-color: #FFECEC;
    --third-bg-color: #F6F6F6;
    --color-bg: #fff;
    --text-color: #4f5665;
    --second-text-color: #0b132a;
    --wrapper: 1440px;
    --gray-light: #e7e7e7e7;
    --check-color: #2fab73;
  }