block mixins
    include ./view/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="./css/app.css" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
        title StormVPN      
    body 
        .wrapper
            include ./view/header
            main    
                include ./view/features
                include ./view/plan
                include ./view/World
                include ./view/blog
                include ./view/getApp
            include ./view/footer
        script(src="./app.js") 
        script(src="https://unpkg.com/aos@next/dist/aos.js") 
        script 
             AOS.init()