section.blog
    .blog-header 
        .blog-header 
            h3.heading.heading--center Mạng lưới VPN nhanh và mạnh trên toàn thế giới
            p.title--center Xem LaslesVPN ở mọi nơi để giúp bạn dễ dàng hơn khi di chuyển địa điểm.
        .blog-list 
            .blog-item
                .blog-rating
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                .blog-desc 
                    p Thực sự rất thích sử dụng shield. Tôi đã sử dụng shield nhiều năm. Cảm ơn vì một sản phẩm tuyệt vời.
                .blog-author 
                    .blog-author--img 
                        img(src="./image/assaf.png")
                    .blog-author--content
                        span Assaf J. 
            .blog-item
                .blog-rating
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                .blog-desc 
                    p Thực sự rất thích sử dụng shield. Tôi đã sử dụng shield nhiều năm. Cảm ơn vì một sản phẩm tuyệt vời.
                .blog-author 
                    .blog-author--img 
                        img(src="./image/assaf.png")
                    .blog-author--content
                        span Assaf J. 
            .blog-item
                .blog-rating
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                .blog-desc 
                    p Thực sự rất thích sử dụng shield. Tôi đã sử dụng shield nhiều năm. Cảm ơn vì một sản phẩm tuyệt vời.
                .blog-author 
                    .blog-author--img 
                        img(src="./image/assaf.png")
                    .blog-author--content
                        span Assaf J. 

