section.features   
    .features-image 
        img(src="./image/Illustration 2.png" class="")
    .header-content 
        h3.heading.heading--big.features-heading Chúng tôi cung cấp nhiều tính năng bạn có thể sử dụng
        p.title.features-title Bạn có thể khám phá các tính năng mà chúng tôi cung cấp một cách thú vị và có các chức năng riêng của từng tính năng.
        .features-descs
            .features-descs--row
                i.fa-solid.fa-circle-check
                span Bảo vệ mạnh mẽ.
            .features-descs--row
                i.fa-solid.fa-circle-check
                span Internet không giới hạn.
            .features-descs--row
                i.fa-solid.fa-circle-check
                span Tốc độ VPN nhanh nhất.
            .features-descs--row
                i.fa-solid.fa-circle-check
                span Không giới hạn thời gian.
 
