footer.footer
  .container
    .footer-main
      .footer-column
        img.footer-logo(srcset='./image/Logo.png' alt='')
        p.text.footer-desc LaslesVPN là một mạng ảo riêng có các tính năng độc đáo và có tính bảo mật cao.
        p.text.footer-copyright &copy;2022LaslesVPN
      .footer-column
        h3.footer-title Sản phẩm
        ul.footer-links
          li.footer-item
            a.footer-link(href='#') Tải xuống
          li.footer-item
            a.footer-link(href='#') Giá sản phẩm
          li.footer-item
            a.footer-link(href='#') Khu vực
          li.footer-item
            a.footer-link(href='#') Sever
          li.footer-item
            a.footer-link(href='#') Quốc gia
          li.footer-item
            a.footer-link(href='#') Blog
      .footer-column
        h3.footer-title Engage
        ul.footer-links
          li.footer-item
            a.footer-link(href='#') LaslesVPN
          li.footer-item
            a.footer-link(href='#') FAQ
          li.footer-item
            a.footer-link(href='#') Hướng dẫn
          li.footer-item
            a.footer-link(href='#') Giới thiệu
          li.footer-item
            a.footer-link(href='#') Chính sách bảo mật
          li.footer-item
            a.footer-link(href='#') Điều khoản dịch vụ
      .footer-column
        h3.footer-title Liên hệ
        ul.footer-links
          li.footer-item
            a.footer-link(href='#') Chi nhánh
          li.footer-item
            a.footer-link(href='#') trở thành đối tác
