ul.menu
    li.menu-item
        a.menu-link(href="#") Giới thiệu
    li.menu-item
        a.menu-link(href="#") Tính năng
    li.menu-item
        a.menu-link(href="#") Giá
    li.menu-item
        a.menu-link(href="#") Sự công nhận
