section.plan
    .plan-header 
        h3.heading.heading--center Chọn gói của bạn
        p.title--center.plan-desc Hãy chọn gói phù hợp nhất với bạn và khám phá nó một cách vui vẻ.
    .plan-list
        .plan-item 
            img(src='./image/Free.png' alt='')
            h3.plan-heading Gói free
            .plan-desc
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Băng thông không giới hạn
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Kết nối được mã hóa
                .plan-desc__row
                    i.fa-solid.fa-check
                    span  Không có nhật ký lưu thông
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Tương thích tất cả các thiết bị
            .plan-block
                h2.plan-block__price Gói miễn phí
                a.btn.btn--primary(href='#') Tải xuống
        .plan-item 
            img(src='./image/Standard.png' alt='')
            h3.plan-heading Gói thường
            .plan-desc
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Băng thông không giới hạn
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Kết nối được mã hóa
                .plan-desc__row
                    i.fa-solid.fa-check
                    span  Không có nhật ký lưu thông
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Tương thích tất cả các thiết bị
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Kết nối với mọi phần mềm
            .plan-block
                h2.plan-block__price 15.00VNĐ/tháng
                a.btn.btn--primary(href='#') Tải xuống
        .plan-item 
            img(src='./image/Premium.png' alt='')
            h3.plan-heading Gói cao cấp
            .plan-desc
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Băng thông không giới hạn
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Kết nối được mã hóa
                .plan-desc__row
                    i.fa-solid.fa-check
                    span  Không có nhật ký lưu thông
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Tương thích tất cả các thiết bị
                .plan-desc__row
                    i.fa-solid.fa-check
                    span Sử dụng các tính năng mới nhất
            .plan-block
                h2.plan-block__price 20.000VNĐ/tháng
                a.btn.btn--primary(href='#') Tải xuống
