section.world
    .world-header 
        h3.heading.heading--center Mạng lưới VPN nhanh và mạnh trên toàn thế giới
        p.title--center Xem LaslesVPN ở mọi nơi để giúp bạn dễ dàng hơn khi di chuyển địa điểm.
    .world-map 
        img(src="./image/Huge Global.png", alt="")
    .world-company 
        img(src="./image/amazon.png", alt="")
        img(src="./image/discord.png", alt="")
        img(src="./image/netfilx.png", alt="")
        img(src="./image/reddit.png", alt="")
        img(src="./image/spotify.png", alt="")


